*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url(imagens/fundo_neo.jpg);
    background-repeat: repeat-y;
    background-position: right top;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    background-image: url(imagens/fundo_matrix.jpg);
    width: 88%;
}

footer h1{
    text-align: end;
}

.inverter{
    transform: scaleX(-1);
    display: flex;
    justify-content: end;
}

main p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgreen;
    text-align: justify;
    width: 88%;
    line-height: 1.2;
    margin: 1rem 0;
}
